<div class="product-card">
  <div class="product-card__image">
    <img [src]="product.image_url" [alt]="product.generic_name_en">
  </div>
  <div class="product-card__content">
    <div class="product-card__content--details">
      <p class="product-card__brand">{{ product.brands }}</p>
      <h3 class="product-card__title">{{ product.generic_name_en }}</h3>
    </div>
    <div class="product-card__content--actions">
      <p class="product-card__brand">{{ productPrice | currency: 'EUR' }}</p>
      <button class="product-card__button" (click)="addToCartAction(product)">Add to cart</button>
    </div>
  </div>
</div>
