<div class="cart-container">
    <div class="cart-container__table">
        <div class="cart-container__table--header">
            <h2>Your Cart Items</h2>
            <button class="remove-btn" (click)="clearCart()">Clear Cart</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of getCartItems(); trackBy: trackById">
                    <td data-label="ID">{{ item.id }}</td>
                    <td data-label="Image">
                        <img class="cart-list__image" [src]="item.image_url" [alt]="item.generic_name_en">
                    </td>
                    <td data-label="Name">{{ item.generic_name_en }}</td>
                    <td data-label="Price">{{ item.price | currency }}</td>
                    <td data-label="Quantity" class="quantity-cell">
                        <button (click)="decreaseQuantity(item)" [disabled]="item.quantity <= 1">-</button>
                        <span>{{ item.quantity }}</span>
                        <button (click)="increaseQuantity(item)">+</button>
                    </td>
                    <td data-label="Actions">
                        <button class="remove-btn" (click)="removeItem(item)">Remove</button>
                    </td>
                    <td data-label="Total">{{ item.price * item.quantity | currency }}</td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!getCartItems().length">Your cart is empty</p>
    </div>



    <div class="coupon-section">
        <h3>Total order</h3>
        <div class="coupon-section__coupon">
            <label for="coupon__label">Coupon Code</label>
            <div class="coupon-section__coupon--form">
                <input type="text" id="coupon__input" placeholder="Enter coupon code" [ngModel]="couponCode()"
                    (ngModelChange)="couponCode.set($event)" [disabled]="getCartItems().length === 0">
                <button (click)="applyCoupon(couponCode())">Apply</button>
            </div>
            <p class="error-message" *ngIf="showCouponError()">Invalid coupon code</p>
            <p class="success-message" *ngIf="showCouponSuccess()">Coupon applied successfully</p>
        </div>
        <div class="coupon-section__calculation">
            <div class="coupon-section__calculation__item">
                <p>Subtotal:</p>
                <span>{{ subtotal() | currency }}</span>
            </div>
            <div class="coupon-section__calculation__item">
                <p>TVSH 18%:</p>
                <span>{{ calculateTVSH() | currency }}</span>
            </div>
            <div class="coupon-section__calculation__item">
                <p>Discount:</p>
                <span>-{{ calculateDiscount() | currency }}</span>
            </div>
            <div class="coupon-section__calculation__item">
                <h2>Total:</h2>
                <span class="coupon-section__calculation__item--total">{{ calculateTotal() | currency }}</span>
            </div>
        </div>
    </div>
</div>