.application {
  display: flex;
}

.application__navbar {
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 100;
}

.application__main {
  margin-top: 65px;
  background-color: #F5F5F5;
  width: 100%;
  min-height: calc(100vh - 65px);
}
